
* {
    box-sizing: border-box;
}

header {
    position: absolute;
}

body, input, button, .color-button{
    font-family:'IBM Plex Mono', sans-serif;
    font-size: 22px;
}

h1{
    font-size: 56px;
    font-weight: 700;
    text-align: left;
    margin: 0;
    color: #404040;
}

h2, h3{
    font-size: 100%;
    font-weight: 300;
    text-align: left;
    color: #404040;
}

h4{
    font-size: 75%;
    font-weight: 300;
    text-align: left;
    color: #404040;
}

/* background bubbles customizations */
#top-circle {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0px;
    right: 0px;
    overflow: hidden;
    z-index: -999;
}

#top-circle-content {
    position: absolute;
    max-width: 200%;
    max-height: 200%;
    margin-top: -45%;
    margin-left: 35%;
}

#bottom-circle {
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -999;
}

#bottom-circle-content {
    position: absolute;
    max-width: 175%;
    max-height: 175%;
    margin-bottom: -35%;
    margin-left: -35%;
}

/* drop down styles */

#drop-down-content{
    margin-left: 30%;
    width: 52.5%;
}

#drop-down-bg{
    position: absolute;
    width: 60%;
    height: 95%;
    margin-left: 25%;
    top: 0px;
    background-size: 100%;
    background-color:rgba(white, white, white, 0.1);
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 16px rgba(7, 8, 36, 0.15);
    z-index: -99;
}

#set-up, #note{
    width: 90%;
}

#welcome-sentence, #question-display{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* input styles */

input {
    border: 0;
    height:min-content;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
    position: relative;
    z-index: 99;

}

input, select, textarea{
    color: #4B67DD;
    text-decoration-color: #4B67DD;
}

::placeholder {
    color: #D2D2D2;
    text-decoration: underline;
    text-decoration-color: #D2D2D2;
}

input:focus {
    text-decoration-color: #4B67DD;
    outline: none;
}

/* autocomplete styles */
.autocomplete {
    position: relative;
    display: inline-block;
    width: 300px;
    z-index: 99;
}

#auto-profession{
    z-index: 999;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #4B67DD;
    text-decoration-color: white;
}

.autocomplete-active {
    background-color: dodgerblue;
    color: #ffffff;
}

/* flex box items */
#set-up-profession, #set-up-question-number, #profession, #question-amount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#set-up-profession, #set-up-question-number{
    justify-content: space-between;
}

#profession, #question-amount{
    margin-left: 15px;
}

#set-up-profession .prompt, #set-up-question-number .prompt{
    width: 65%;
}

#set-up-profession #profession, #set-up-question-number #question-amount{
    width: 35%;
}

/*button*/
.color-button, .gray-button {
    font-weight: 600;

    width: 275px;
    margin-top: 20px;

    display: inline-block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200% auto;

    z-index: 1040;
}

.color-button{
    border: 0;
    color: white;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 0;
 
    background-image: linear-gradient(to right, #7AA9EE 0%, #7277F3 40%, #0AE8D0 100%);
}

.color-button:hover {
    background-position: right center;
}

.color-button:after {
    background-position: left center;
}

.color-button:active:after {
    background-position: left;
}

.gray-button {
    background-color: transparent;
    color:#404040;
    border:2px solid #404040;
}

/*warning styles*/
#warning h2{
    color: red;
}

/*hide & show related styles*/

.set-up-content{
    visibility:visible;
}

#questions-control{
    visibility: hidden;
}

/* practice section styles*/

#question-info, .saved-question-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    margin-bottom: 30px;

}

#current-qnumber, #total-qnumber, #selected-profession,
.saved-current-qnumber, .saved-total-qnumber, .saved-selected-profession {
    color: #4B67DD;
    font-weight: 600;
    text-decoration: underline;
}

/*buttons*/
#start{
    visibility: visible;
}

#home-icon{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 999;
    border: none;
    background: none;
}

#home-icon-content{
    width: 75%
}

#camera-icon, #saved-icon, #hint-icon, #saved-icon-clicked{
    position: absolute;
    height: 90px;
    width: 90px;
    padding: 15px;
    z-index: 999;
    border-width: 0px 0px 0px 5px;
    border-color: #e6e6e6;
    background-color: rgba(41, 41, 41, 0.65);
    overflow: hidden;
}

#camera-icon:hover, #saved-icon:hover, #hint-icon:hover, #saved-icon-clicked:hover {
    background-color:#404040;
}

#camera-icon-content, #saved-icon-content{
    width: 65%;
}

#hint-icon-content{
    width: 55%;
}

#camera-icon{
    top: 10px;
    right: 0px;
}

#saved-icon, #saved-icon-clicked{
    top: 110px;
    right: 0px;
}

#hint-icon{
    bottom: 10px;
    right: 0px;
}

#star-icon{
    position: absolute;
    height: 45px;
    width: 45px;
    right: 0;
    bottom: 0;

    padding: 10px 12px 12px 12px;
    border: 0;

    background-color:rgba(41, 41, 41, 0.65);
    z-index: 9999;
}

#star-icon:hover {
    background-color:#404040;
}

#star-icon-content{
    width: 100%;
}


/*hint bubble*/
#hint-bubble{
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding-left: 30px;

    height: 90px;
    width: 74.5%;
    background-color: rgba(41, 41, 41, 0.65);
}

#hint-bubble h3 {
    color: white;
}

/*sample answer related*/

#sample-answer-button:hover, #next-question-button:hover{
    color:white;
    background-color: #4B67DD;
    border-color: #4B67DD;
}

#sample-answer-button:active, #next-question-button:active{
    color:#4B67DD;
    border-color: #4B67DD;
}

#sample-answer-box{
    position: absolute;
    bottom: 30px;
    left: 30px;

    height: 50%;
    width: 20%;
    overflow: scroll;
}

/*video settings */
video{
    width: 100%;
    height: 50%;
    margin-top: 30px;
    margin-bottom: 0;
}

/* saved list related */

#saved-icon-clicked{
    border-color: #FDB851;
}

#saved-drop-down-content{
    width: 60.8%;
    height: 95%;
    margin-left: 25.3%;
    top: 0px;
}

#saved-content-header{
    margin-top: 30px;
    padding-left: 8%;
}

#saved-content-template{
    overflow: scroll;
}

.saved-question-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 5%;
    background-color:rgba(7, 8, 36, 0.10);
    padding-bottom: 3%;
}

.saved-question-info{
    margin-bottom: 0px;
}

.saved-current-question{
    font-size: 22px;
}

.delete-saved{
    width: 50px;
    height: 50px;
    margin-top: 25px;

    background: transparent;
    border: 0;
}

.saved-question-display{
    width: 85%;
}

.delete-saved-content{
    width: 100%;
}

.hidden{
    visibility: hidden;
}

