
* {
    box-sizing: border-box;
}

/* text styles */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 100;
}

h1 {
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    display: block;
}

h2 {
    font-size: 150%;
    font-weight: 100;
    display: block;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
}

p {
    display: block;
    text-align: left;
    margin: 0px;
}

/*section & line & button styles*/

#border {
    border: 2px solid black;
}

footer {
    margin-top: 40px;
    text-align: right;
}

nav {
    margin-bottom: 100px;
}

hr {
    height: 7px;
    background: black;
}

button {
    font-size:large;
    font-weight: bold;
    border: 3px solid black;
    background-color:#FFFF00;
    padding: 10px 25px;
    text-align: center;
}

/*class styles*/
#options{
    margin-top: 75px;
}

.page-end > h1 {
    margin-right: 20px;
}

.product-imgs {
    width: 100%;
    border: 3px solid black;
    display: block;
    margin-bottom: 15px;
}

.description-detail > p {
    font-size: 120%;
}

/*id styles*/

#current-page {
    font-weight: 700;
    max-width: 125px;
    background:#FFFF00;
}

#glazing, #pack-size {
    text-align: left;
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: auto;
}

/* link & button styles */
a {
    color: black;
    text-decoration: none;
}

.description{
    margin-top: 30px;
}

.page-end {
    display: inline-block;
    vertical-align: center;
}

/* flexbox */
#header-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    gap: 20px;
    margin: 0px;
}

#header-row > #logo {
    margin: 40px 0px 40px 20px;
    width: 400px;
    flex: 0 1 auto;
}

#navigation {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-direction: row;

    gap: 50px;
    padding: 50px 80px 0px 0px;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 80px 0px 80px;
    gap: 10px;
}

#products div {
    margin: 10px 10px 10px 10px;
    width: 30%;
    padding: 5px;
}

.product-name {
    text-decoration: underline;
}

#product-detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: space-between;
    margin: 50px 50px 50px 80px;
    gap: 50px;
}


#detail-images {
    width: 100%;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px 40px 0px;
}

#checkout {
    width: 715px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: auto;
    text-align: right;
    margin-right: 75px;
    margin-bottom: 30px;
}

#total {
    margin-left: auto;
    width: 495px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* hover styles */
.roll:hover {
    background-color: #FFFF00;
}

.product-name:hover{
    font-weight: bold;
}

a:active {
    background-color: #FFFF00;
}

/*hw5 cart style*/
#cart {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 440px;
    gap: 20px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-right: 30px;
}

.item-img{
    width: 100%;
    border: 3px solid black;
}

.remove {
    padding: 0;
    border: none;
    background: none;
    margin-top: 5px;
    font-weight: 700;
    font-size: small;
    text-decoration: underline;
}

.item-visuals {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 20%;
}

.item-description {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px 0px 10px;

}



